.Rproj.user
.Rhistory
.RData
*.Rproj
cities.Rdata
data.Rdata
*.swp
_site
Gemfile.lock
images/2013.11.29_16.56.07.IMG_2203.jpg
images/profile.1.jpg
images/profile.2.jpg
images/profile.3.jpg
images/profile.4.jpg
images/profile_2013.jpg
images/sburer_2014.04.29.jpg
images/sburer_2015.02.19.jpeg
main.html
2015-05-20-parade-of-homes/tsp/concorde
run_local_server.sh
2015-05-20-parade-of-homes/2015.06.11_The_Traveling_Tesla_Salesman_via_Random_Points.pdf
2015-05-20-parade-of-homes/angela.R
2015-05-20-parade-of-homes/Mapping out the most efficient Parade of Homes route.pdf
2015-05-20-parade-of-homes/The Most Efficient Parade of Homes - News & Events - Tippie College of Business - The University of Iowa.pdf
The Most Efficient Parade of Homes - News & Events - Tippie College of Business - The University of Iowa.pdf
2015-06-13-ISMP-2015/_archive/coordinates.Rdata
2015-06-13-ISMP-2015/_archive/participants.Rdata
2015-06-13-ISMP-2015/coordinates.Rdata
2015-06-13-ISMP-2015/participants.Rdata
