ruby
	{ruby-align:left;}
.style0
	{text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	color:windowtext;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;
	border:none;}
.style16 {}
td
	{padding:0px;
	color:windowtext;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Verdana;
	text-align:general;
	vertical-align:bottom;
	border:none;
	white-space:nowrap;}
.xl24 {}
.xl25
	{font-size:12.0pt;
	font-family:Calibri;}
.xl26
	{font-size:12.0pt;
	font-family:Calibri;
	text-align:left;}
.xl27
	{font-size:12.0pt;
	font-family:Calibri;
	text-align:center;}
.xl28
	{font-size:12.0pt;
	font-family:Calibri;
	text-align:center;}
.xl29
	{font-size:12.0pt;
	font-family:Calibri;
	text-align:center;}
.xl30
	{font-size:12.0pt;
	font-family:Calibri;
	text-align:center;}
.xl31
	{font-size:12.0pt;
	font-weight:700;
	font-family:Calibri;
	text-align:center;}
.xl32
	{font-size:12.0pt;
	font-family:Calibri;}
.xl33
	{font-size:12.0pt;
	font-weight:700;
	font-family:Calibri;
	text-align:center;}
.xl34
	{font-size:12.0pt;
	font-family:Calibri;
	text-align:center;}
.xl35
	{font-size:12.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri;}
.xl36
	{font-size:12.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri;
	text-align:center;}
.xl37
	{font-size:12.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri;
	text-align:center;}
.xl38
	{font-size:12.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl39
	{font-size:12.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl40
	{font-size:12.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl41
	{font-size:12.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl42
	{font-size:12.0pt;
	font-weight:700;
	font-family:Calibri;
	text-align:center;
	background:#969696;}
.xl43
	{font-size:12.0pt;
	font-weight:700;
	font-family:Calibri;
	text-align:center;
	background:silver;}
.xl44
	{font-weight:700;
	font-family:Calibri;
	text-align:center;}
.xl45
	{font-weight:700;
	font-family:Calibri;
	text-align:center;}
